body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Arial;
  background: #f7f8fb;
  color: #222;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}
